Repository bug-ops/scrape-rs: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

fix: Remove invalid bench definitions from workspace Cargo.toml
  Cargo.toml
Due: none

docs: Update README with Phase 20 benchmark results (v0.2.0)
  README.md
Due: none

docs: Update all READMEs with v0.2.0 benchmark results
  README.md
  crates/scrape-core/README.md
  crates/scrape-node/README.md
  crates/scrape-py/README.md
  crates/scrape-wasm/README.md
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

fix: Remove nightly-only rustdoc flags from stable CI
  .github/workflows/docs.yml
Due: none

docs: Mention lol_html from Cloudflare for streaming parser in all READMEs
  README.md
  crates/scrape-cli/README.md
  crates/scrape-core/README.md
  crates/scrape-node/README.md
  crates/scrape-py/README.md
  crates/scrape-wasm/README.md
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

feat: Add batch processing and streaming benchmarks
  Cargo.toml
  benches/compare_node.mjs
  benches/compare_wasm.html
  crates/scrape-core/Cargo.toml
  crates/scrape-core/benches/batch_processing.rs
  crates/scrape-core/benches/streaming_memory.rs
Due: rust, Rust Core

fix: Resolve benchmark compilation and linting errors
  crates/scrape-core/benches/batch_processing.rs
  crates/scrape-core/benches/streaming_memory.rs
Due: rust, Rust Core

Phase 20 Week 1 - Benchmark Infrastructure & Performance Analysis (#35)
  Cargo.toml
  README.md
  benches/compare_node.mjs
  benches/compare_wasm.html
  crates/scrape-cli/README.md
  crates/scrape-core/Cargo.toml
  crates/scrape-core/README.md
  crates/scrape-core/benches/batch_processing.rs
  crates/scrape-core/benches/streaming_memory.rs
  crates/scrape-node/README.md
  crates/scrape-py/README.md
  crates/scrape-wasm/README.md
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

ci: add dependabot auto-merge workflow
  .github/workflows/dependabot-automerge.yml
Due: none

fix(ci): add wait-on-check with self-exclusion
  .github/workflows/dependabot-automerge.yml
Due: none

fix(py): adapt to PyO3 0.28.0 FromPyObject deprecation
  Cargo.lock
  crates/scrape-py/src/config.rs
  crates/scrape-py/src/tag.rs
Due: python, Python Bindings

chore(release): bump version to 0.2.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/scrape-cli/README.md
  crates/scrape-core/README.md
  crates/scrape-node/README.md
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-node/pnpm-lock.yaml
  crates/scrape-py/README.md
  crates/scrape-wasm/README.md
  crates/scrape-wasm/package.json
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

chore(release): bump version to 0.2.1 (#47)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/scrape-cli/README.md
  crates/scrape-core/README.md
  crates/scrape-node/README.md
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-node/pnpm-lock.yaml
  crates/scrape-py/README.md
  crates/scrape-wasm/README.md
  crates/scrape-wasm/package.json
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

fix(cli): switch from native-tls to rustls for cross-compilation
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-cli/Cargo.toml
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-wasm/package.json
Due: node, wasm, Node.js Bindings, WASM Bindings

deps: bump workspace dependencies
  Cargo.lock
  Cargo.toml
  crates/scrape-node/package.json
  crates/scrape-py/uv.lock
Due: python, node, Python Bindings, Node.js Bindings

deps: bump workspace dependencies (#55)
  Cargo.lock
  Cargo.toml
  crates/scrape-node/package.json
  crates/scrape-py/uv.lock
Due: python, node, Python Bindings, Node.js Bindings

release: prepare v0.2.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-node/pnpm-lock.yaml
  crates/scrape-wasm/package.json
Due: node, wasm, Node.js Bindings, WASM Bindings

ci: add CI gate job for branch protection
  .github/workflows/ci.yml
Due: none

release: v0.2.3 (#56)
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-node/pnpm-lock.yaml
  crates/scrape-wasm/package.json
Due: node, wasm, Node.js Bindings, WASM Bindings

release: v0.2.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-py/uv.lock
  crates/scrape-wasm/package.json
Due: python, node, wasm, Python Bindings, Node.js Bindings, WASM Bindings

release: v0.2.4 (#58)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-py/uv.lock
  crates/scrape-wasm/package.json
Due: python, node, wasm, Python Bindings, Node.js Bindings, WASM Bindings

deps: bump html5ever/markup5ever to 0.39, replace markup5ever_rcdom
  Cargo.lock
  Cargo.toml
  Makefile.toml
  crates/scrape-core/Cargo.toml
  crates/scrape-core/src/dom/document.rs
  crates/scrape-core/src/parser/fragment.rs
  crates/scrape-core/src/parser/html5.rs
  crates/scrape-core/src/parser/mod.rs
  crates/scrape-core/src/parser/sink.rs
  crates/scrape-node/package.json
  crates/scrape-node/pnpm-lock.yaml
  crates/scrape-py/pyproject.toml
  crates/scrape-py/uv.lock
  crates/scrape-wasm/biome.json
  crates/scrape-wasm/package.json
  crates/scrape-wasm/pnpm-lock.yaml
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

fix(parser): correct DocBuilderSink edge cases found in code review
  crates/scrape-core/src/dom/document.rs
  crates/scrape-core/src/parser/sink.rs
Due: rust, Rust Core

ci: add --no-errors-on-unmatched to WASM biome check
  .github/workflows/ci.yml
Due: none

deps: bump html5ever/markup5ever to 0.39, replace markup5ever_rcdom (#74)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  Makefile.toml
  crates/scrape-core/Cargo.toml
  crates/scrape-core/src/dom/document.rs
  crates/scrape-core/src/parser/fragment.rs
  crates/scrape-core/src/parser/html5.rs
  crates/scrape-core/src/parser/mod.rs
  crates/scrape-core/src/parser/sink.rs
  crates/scrape-node/package.json
  crates/scrape-node/pnpm-lock.yaml
  crates/scrape-py/pyproject.toml
  crates/scrape-py/uv.lock
  crates/scrape-wasm/biome.json
  crates/scrape-wasm/package.json
  crates/scrape-wasm/pnpm-lock.yaml
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

chore: update CHANGELOG for html5ever 0.39 / DocBuilderSink changes
  CHANGELOG.md
Due: none

release: prepare v0.2.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

chore: update workspace dependencies
  Cargo.lock
  Cargo.toml
Due: none

chore(release): update Node.js and WASM versions to 0.2.5
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-wasm/package.json
Due: node, wasm, Node.js Bindings, WASM Bindings

fix: revert cssparser to 0.36 for selectors 0.36 compatibility
  Cargo.lock
  Cargo.toml
Due: none

release: v0.2.5 (#75)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-wasm/package.json
Due: node, wasm, Node.js Bindings, WASM Bindings

deps(rust): bump scraper from 0.25 to 0.26
  Cargo.lock
  Cargo.toml
Due: none

deps(rust): bump scraper from 0.25 to 0.26 (#84)
  Cargo.lock
  Cargo.toml
Due: none

chore: bump rustls-webpki to 0.103.12 and pygments to 2.20.0
  Cargo.lock
  crates/scrape-py/uv.lock
Due: python, Python Bindings

deps(node): bump @napi-rs/cli from 3.6.1 to 3.6.2 in /crates/scrape-node
  crates/scrape-node/package.json
  crates/scrape-node/pnpm-lock.yaml
Due: node, Node.js Bindings

release: prepare v0.2.6
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-node/pnpm-lock.yaml
  crates/scrape-py/uv.lock
Due: python, node, Python Bindings, Node.js Bindings

fix(core): revert cssparser to 0.36 for selectors 0.37 compatibility
  Cargo.lock
  Cargo.toml
Due: none

release: v0.2.6 (#111)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-node/pnpm-lock.yaml
  crates/scrape-py/uv.lock
Due: python, node, Python Bindings, Node.js Bindings

ci: remove npm self-upgrade step from release workflow
  .github/workflows/release.yml
Due: none

ci: use corepack to install npm for provenance support
  .github/workflows/release.yml
Due: none

Path conditions:
  rust: any of: crates/scrape-core/
  python: any of: crates/scrape-py/
  node: any of: crates/scrape-node/
  wasm: any of: crates/scrape-wasm/
  Rust Core: any of: crates/scrape-core/**
  Python Bindings: any of: crates/scrape-py/**
  Node.js Bindings: any of: crates/scrape-node/**
  WASM Bindings: any of: crates/scrape-wasm/**
