Repository bug-ops/scrape-rs: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

flags:
  rust:
    paths:
      - crates/scrape-core/
    carryforward: true

  python:
    paths:
      - crates/scrape-py/
    carryforward: true

  node:
    paths:
      - crates/scrape-node/
    carryforward: true

  wasm:
    paths:
      - crates/scrape-wasm/
    carryforward: true

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: true

component_management:
  individual_components:
    - component_id: core
      name: Rust Core
      paths:
        - crates/scrape-core/**
    - component_id: python
      name: Python Bindings
      paths:
        - crates/scrape-py/**
    - component_id: node
      name: Node.js Bindings
      paths:
        - crates/scrape-node/**
    - component_id: wasm
      name: WASM Bindings
      paths:
        - crates/scrape-wasm/**

ci: fix npm OIDC publish by removing registry-url and static token override
  .github/workflows/release.yml
Due: none

ci: use Node 24 with npm 11 for OIDC Trusted Publishing
  .github/workflows/release.yml
Due: none

build: bump selectors to 0.38.0 and cssparser to 0.37.0
  Cargo.lock
  Cargo.toml
Due: none

build: bump selectors to 0.38.0 and cssparser to 0.37.0 (#122)
  Cargo.lock
  Cargo.toml
Due: none

release: prepare v0.2.7
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-wasm/package.json
  docs/src/README.md
Due: node, wasm, Node.js Bindings, WASM Bindings

release: prepare v0.2.7 (#125)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-wasm/package.json
  docs/src/README.md
Due: node, wasm, Node.js Bindings, WASM Bindings

release: prepare v0.2.8
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-node/package.json
  crates/scrape-wasm/package.json
Due: node, wasm, Node.js Bindings, WASM Bindings

docs: update READMEs for v0.2.8
  crates/scrape-core/README.md
  crates/scrape-node/README.md
  docs/src/README.md
Due: rust, node, Rust Core, Node.js Bindings

deps(rust): bump transitive dependencies
  CHANGELOG.md
  Cargo.lock
Due: none

deps(py): bump maturin 1.13.1 -> 1.14.0, ruff 0.15.11 -> 0.15.17, packaging 26.1 -> 26.2
  CHANGELOG.md
  crates/scrape-py/uv.lock
Due: python, Python Bindings

release: v0.2.8 (#136)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-core/README.md
  crates/scrape-node/README.md
  crates/scrape-node/package.json
  crates/scrape-py/uv.lock
  crates/scrape-wasm/package.json
  docs/src/README.md
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

fix(core): migrate lol_html Settings to v3.0.0 builder API
  crates/scrape-core/src/streaming/parser.rs
Due: rust, Rust Core

fix: upgrade memmap2 to 0.9.11 (RUSTSEC-2026-0186)
  Cargo.lock
Due: none

fix: upgrade anyhow to 1.0.103 (RUSTSEC UB in downcast_mut)
  Cargo.lock
Due: none

fix: upgrade crossbeam-epoch to 0.9.20 (RUSTSEC-2026-0204)
  Cargo.lock
Due: none

release: prepare v0.2.9
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-cli/src/args.rs
  crates/scrape-core/src/query/compiled.rs
  crates/scrape-core/src/query/extraction.rs
  crates/scrape-core/src/query/find.rs
  crates/scrape-core/src/soup.rs
  crates/scrape-core/src/tag.rs
  crates/scrape-node/package.json
  crates/scrape-node/pnpm-lock.yaml
  crates/scrape-py/uv.lock
  crates/scrape-wasm/package.json
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

chore: update Cargo.lock dependencies
  Cargo.lock
Due: none

style: run rustfmt on doc comment line wrapping
  crates/scrape-core/src/query/compiled.rs
  crates/scrape-core/src/query/extraction.rs
  crates/scrape-core/src/query/find.rs
  crates/scrape-core/src/soup.rs
  crates/scrape-core/src/tag.rs
Due: rust, Rust Core

docs: fix outdated API examples and document missing CLI flags
  README.md
  crates/scrape-cli/README.md
  crates/scrape-core/README.md
  crates/scrape-node/README.md
  crates/scrape-py/README.md
  crates/scrape-wasm/README.md
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

release: v0.2.9 (#159)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/scrape-cli/README.md
  crates/scrape-cli/src/args.rs
  crates/scrape-core/README.md
  crates/scrape-core/src/query/compiled.rs
  crates/scrape-core/src/query/extraction.rs
  crates/scrape-core/src/query/find.rs
  crates/scrape-core/src/soup.rs
  crates/scrape-core/src/tag.rs
  crates/scrape-node/README.md
  crates/scrape-node/package.json
  crates/scrape-node/pnpm-lock.yaml
  crates/scrape-py/README.md
  crates/scrape-py/uv.lock
  crates/scrape-wasm/README.md
  crates/scrape-wasm/package.json
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

fix(core): rewrite question-mark-eligible blocks flagged by clippy
  CHANGELOG.md
  crates/scrape-core/src/dom/document.rs
  crates/scrape-core/src/simd/scan.rs
Due: rust, Rust Core

fix(core): rewrite question-mark-eligible blocks flagged by clippy (#164)
  CHANGELOG.md
  crates/scrape-core/src/dom/document.rs
  crates/scrape-core/src/simd/scan.rs
Due: rust, Rust Core

release: prepare v0.2.10
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-node/package.json
  crates/scrape-node/pnpm-lock.yaml
  crates/scrape-py/uv.lock
  crates/scrape-wasm/package.json
  crates/scrape-wasm/pnpm-lock.yaml
  docs/src/getting-started/installation.md
  docs/src/getting-started/quick-start.md
Due: python, node, wasm, Python Bindings, Node.js Bindings, WASM Bindings

style(py): fix ruff format violations in README code samples
  crates/scrape-py/README.md
Due: python, Python Bindings

release: prepare v0.2.10 (#177)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-node/package.json
  crates/scrape-node/pnpm-lock.yaml
  crates/scrape-py/README.md
  crates/scrape-py/uv.lock
  crates/scrape-wasm/package.json
  crates/scrape-wasm/pnpm-lock.yaml
  docs/src/getting-started/installation.md
  docs/src/getting-started/quick-start.md
Due: python, node, wasm, Python Bindings, Node.js Bindings, WASM Bindings

fix: bump napi to 3.12.1 to match napi-derive 3.6.3
  Cargo.lock
Due: none

release: prepare v0.2.11
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-node/README.md
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-node/pnpm-lock.yaml
  crates/scrape-py/uv.lock
  crates/scrape-wasm/package.json
  crates/scrape-wasm/pnpm-lock.yaml
  docs/src/README.md
  docs/src/getting-started/installation.md
Due: python, node, wasm, Python Bindings, Node.js Bindings, WASM Bindings

release: prepare v0.2.11 (#187)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-node/README.md
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-node/pnpm-lock.yaml
  crates/scrape-py/uv.lock
  crates/scrape-wasm/package.json
  crates/scrape-wasm/pnpm-lock.yaml
  docs/src/README.md
  docs/src/getting-started/installation.md
Due: python, node, wasm, Python Bindings, Node.js Bindings, WASM Bindings

release: prepare v0.2.12
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-node/pnpm-lock.yaml
  crates/scrape-wasm/package.json
Due: node, wasm, Node.js Bindings, WASM Bindings

release: prepare v0.2.12 (#197)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-node/pnpm-lock.yaml
  crates/scrape-wasm/package.json
Due: node, wasm, Node.js Bindings, WASM Bindings

fix(cli): bump rustls to 0.23.45 for RUSTSEC-2026-0285
  Cargo.lock
Due: none

build(rust): sync html5ever and markup5ever to 0.40
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

build(rust): sync html5ever and markup5ever to 0.40 (#214)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

release: prepare v0.2.13
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-wasm/package.json
Due: node, wasm, Node.js Bindings, WASM Bindings

release: prepare v0.2.13 (#218)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-wasm/package.json
Due: node, wasm, Node.js Bindings, WASM Bindings

test(core): replace is_empty assertions flagged by clippy assert_is_empty
  crates/scrape-core/src/parser/fragment.rs
  crates/scrape-core/src/query/extraction.rs
  crates/scrape-core/src/query/filter.rs
  crates/scrape-core/src/query/find.rs
  crates/scrape-core/src/simd/mod.rs
  crates/scrape-core/src/soup.rs
  crates/scrape-core/tests/phase19_edge_cases.rs
Due: rust, Rust Core

test(core): replace is_empty assertions flagged by clippy assert_is_empty (#226)
  crates/scrape-core/src/parser/fragment.rs
  crates/scrape-core/src/query/extraction.rs
  crates/scrape-core/src/query/filter.rs
  crates/scrape-core/src/query/find.rs
  crates/scrape-core/src/simd/mod.rs
  crates/scrape-core/src/soup.rs
  crates/scrape-core/tests/phase19_edge_cases.rs
Due: rust, Rust Core

fix(core): adapt selector parser to selectors 0.41 and cssparser 0.38
  Cargo.lock
  Cargo.toml
  crates/scrape-core/src/query/selector.rs
Due: rust, Rust Core
