Repository bug-ops/scrape-rs: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

flags:
  rust:
    paths:
      - crates/scrape-core/
    carryforward: true

  python:
    paths:
      - crates/scrape-py/
    carryforward: true

  node:
    paths:
      - crates/scrape-node/
    carryforward: true

  wasm:
    paths:
      - crates/scrape-wasm/
    carryforward: true

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: true

component_management:
  individual_components:
    - component_id: core
      name: Rust Core
      paths:
        - crates/scrape-core/**
    - component_id: python
      name: Python Bindings
      paths:
        - crates/scrape-py/**
    - component_id: node
      name: Node.js Bindings
      paths:
        - crates/scrape-node/**
    - component_id: wasm
      name: WASM Bindings
      paths:
        - crates/scrape-wasm/**

Move codecov.yml to .github directory
  .github/codecov.yml
Due: none

Add security policy
  .github/SECURITY.md
Due: none

Add Dependabot configuration
  .github/dependabot.yml
Due: none

fix(ci): resolve binding build failures
  crates/scrape-node/index.d.ts
  crates/scrape-node/package.json
  crates/scrape-node/pnpm-lock.yaml
  crates/scrape-py/pyproject.toml
  crates/scrape-py/uv.lock
  crates/scrape-wasm/js/index.d.ts
  crates/scrape-wasm/package.json
  crates/scrape-wasm/pnpm-lock.yaml
Due: python, node, wasm, Python Bindings, Node.js Bindings, WASM Bindings

fix(ci): resolve Python, Node.js, and WASM build failures
  .github/workflows/ci.yml
  crates/scrape-py/tests/test_basic.py
  crates/scrape-wasm/Cargo.toml
Due: python, wasm, Python Bindings, WASM Bindings

ci: parallelize Rust tests and binding builds
  .github/workflows/ci.yml
  crates/scrape-node/package.json
Due: node, Node.js Bindings

fix(node): add minimal test file
  crates/scrape-node/tests/basic.test.js
Due: node, Node.js Bindings

fix(node): simplify test to check for native binary
  crates/scrape-node/tests/basic.test.js
Due: node, Node.js Bindings

fix(node): apply biome formatting
  crates/scrape-node/tests/basic.test.js
Due: node, Node.js Bindings

fix(node): use glob pattern for test command
  crates/scrape-node/package.json
Due: node, Node.js Bindings

Add CI/CD infrastructure and project documentation (#3)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/codecov.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  Cargo.toml
  LICENSE-APACHE
  LICENSE-MIT
  README.md
  crates/scrape-core/README.md
  crates/scrape-core/benches/parse.rs
  crates/scrape-core/src/dom/document.rs
  crates/scrape-core/src/parser/tests.rs
  crates/scrape-node/README.md
  crates/scrape-node/index.d.ts
  crates/scrape-node/package.json
  crates/scrape-node/pnpm-lock.yaml
  crates/scrape-node/tests/basic.test.js
  crates/scrape-py/README.md
  crates/scrape-py/pyproject.toml
  crates/scrape-py/tests/test_basic.py
  crates/scrape-py/uv.lock
  crates/scrape-wasm/Cargo.toml
  crates/scrape-wasm/README.md
  crates/scrape-wasm/js/index.d.ts
  crates/scrape-wasm/package.json
  crates/scrape-wasm/pnpm-lock.yaml
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

Implement Phase 4: CSS Selector Query Engine
  Cargo.lock
  Cargo.toml
  crates/scrape-core/Cargo.toml
  crates/scrape-core/benches/parse.rs
  crates/scrape-core/src/dom/document.rs
  crates/scrape-core/src/dom/node.rs
  crates/scrape-core/src/lib.rs
  crates/scrape-core/src/parser/tests.rs
  crates/scrape-core/src/query/error.rs
  crates/scrape-core/src/query/filter.rs
  crates/scrape-core/src/query/find.rs
  crates/scrape-core/src/query/mod.rs
  crates/scrape-core/src/query/selector.rs
  crates/scrape-core/src/soup.rs
  crates/scrape-core/src/tag.rs
Due: rust, Rust Core

Fix bindings for Tag<'a> lifetime changes
  crates/scrape-node/src/lib.rs
  crates/scrape-py/src/lib.rs
  crates/scrape-wasm/src/lib.rs
Due: python, node, wasm, Python Bindings, Node.js Bindings, WASM Bindings

Fix formatting in scrape-py
  crates/scrape-py/src/lib.rs
Due: python, Python Bindings

Fix Python/WASM CI failures
  crates/scrape-py/python/scrape_rs/__init__.py
  crates/scrape-wasm/Cargo.toml
Due: python, wasm, Python Bindings, WASM Bindings

Add comprehensive cargo-make commands and update CI
  .github/workflows/ci.yml
  Makefile.toml
Due: none

Implement Phase 4: CSS Selector Query Engine (#9)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  Makefile.toml
  crates/scrape-core/Cargo.toml
  crates/scrape-core/benches/parse.rs
  crates/scrape-core/src/dom/document.rs
  crates/scrape-core/src/dom/node.rs
  crates/scrape-core/src/lib.rs
  crates/scrape-core/src/parser/tests.rs
  crates/scrape-core/src/query/error.rs
  crates/scrape-core/src/query/filter.rs
  crates/scrape-core/src/query/find.rs
  crates/scrape-core/src/query/mod.rs
  crates/scrape-core/src/query/selector.rs
  crates/scrape-core/src/soup.rs
  crates/scrape-core/src/tag.rs
  crates/scrape-node/src/lib.rs
  crates/scrape-py/python/scrape_rs/__init__.py
  crates/scrape-py/src/lib.rs
  crates/scrape-wasm/Cargo.toml
  crates/scrape-wasm/src/lib.rs
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

feat(simd): add SIMD acceleration layer for query engine
  crates/scrape-core/Cargo.toml
  crates/scrape-core/benches/simd.rs
  crates/scrape-core/src/lib.rs
  crates/scrape-core/src/query/filter.rs
  crates/scrape-core/src/simd/mod.rs
  crates/scrape-core/src/simd/scan.rs
  crates/scrape-core/src/simd/text.rs
  crates/scrape-core/src/simd/whitespace.rs
Due: rust, Rust Core

feat(py): implement Python bindings via PyO3
  Cargo.lock
  Cargo.toml
  crates/scrape-py/Cargo.toml
  crates/scrape-py/python/scrape_rs/__init__.py
  crates/scrape-py/python/scrape_rs/__init__.pyi
  crates/scrape-py/src/config.rs
  crates/scrape-py/src/error.rs
  crates/scrape-py/src/lib.rs
  crates/scrape-py/src/soup.rs
  crates/scrape-py/src/tag.rs
  crates/scrape-py/tests/conftest.py
  crates/scrape-py/tests/test_basic.py
  crates/scrape-py/tests/test_batch.py
  crates/scrape-py/tests/test_navigation.py
  crates/scrape-py/tests/test_soup.py
  crates/scrape-py/tests/test_tag.py
Due: python, Python Bindings

feat(py): implement Python bindings via PyO3 (#11)
  Cargo.lock
  Cargo.toml
  crates/scrape-py/Cargo.toml
  crates/scrape-py/python/scrape_rs/__init__.py
  crates/scrape-py/python/scrape_rs/__init__.pyi
  crates/scrape-py/src/config.rs
  crates/scrape-py/src/error.rs
  crates/scrape-py/src/lib.rs
  crates/scrape-py/src/soup.rs
  crates/scrape-py/src/tag.rs
  crates/scrape-py/tests/conftest.py
  crates/scrape-py/tests/test_basic.py
  crates/scrape-py/tests/test_batch.py
  crates/scrape-py/tests/test_navigation.py
  crates/scrape-py/tests/test_soup.py
  crates/scrape-py/tests/test_tag.py
Due: python, Python Bindings

feat(node): implement Node.js bindings via napi-rs
  Cargo.lock
  crates/scrape-node/Cargo.toml
  crates/scrape-node/biome.json
  crates/scrape-node/index.d.ts
  crates/scrape-node/package.json
  crates/scrape-node/pnpm-lock.yaml
  crates/scrape-node/src/config.rs
  crates/scrape-node/src/error.rs
  crates/scrape-node/src/lib.rs
  crates/scrape-node/src/soup.rs
  crates/scrape-node/src/tag.rs
  crates/scrape-node/tests/basic.test.js
  crates/scrape-node/tests/batch.test.js
  crates/scrape-node/tests/navigation.test.js
  crates/scrape-node/tests/selectors.test.js
  crates/scrape-node/tests/soup.test.js
  crates/scrape-node/tests/tag.test.js
Due: node, Node.js Bindings

feat(node): implement Node.js bindings via napi-rs (#12)
  Cargo.lock
  crates/scrape-node/Cargo.toml
  crates/scrape-node/biome.json
  crates/scrape-node/index.d.ts
  crates/scrape-node/package.json
  crates/scrape-node/pnpm-lock.yaml
  crates/scrape-node/src/config.rs
  crates/scrape-node/src/error.rs
  crates/scrape-node/src/lib.rs
  crates/scrape-node/src/soup.rs
  crates/scrape-node/src/tag.rs
  crates/scrape-node/tests/basic.test.js
  crates/scrape-node/tests/batch.test.js
  crates/scrape-node/tests/navigation.test.js
  crates/scrape-node/tests/selectors.test.js
  crates/scrape-node/tests/soup.test.js
  crates/scrape-node/tests/tag.test.js
Due: node, Node.js Bindings

feat(wasm): implement WASM bindings via wasm-bindgen
  Cargo.lock
  crates/scrape-wasm/Cargo.toml
  crates/scrape-wasm/js/index.d.ts
  crates/scrape-wasm/package.json
  crates/scrape-wasm/scripts/analyze-size.sh
  crates/scrape-wasm/src/config.rs
  crates/scrape-wasm/src/lib.rs
  crates/scrape-wasm/src/soup.rs
  crates/scrape-wasm/src/tag.rs
  crates/scrape-wasm/tests/web.rs
Due: wasm, WASM Bindings

ci(wasm): add browser tests to CI pipeline
  .github/workflows/ci.yml
Due: none

fix(wasm): correct wasm-pack test argument order
  Makefile.toml
Due: none

feat(wasm): implement WASM bindings via wasm-bindgen (#13)
  .github/workflows/ci.yml
  Cargo.lock
  Makefile.toml
  crates/scrape-wasm/Cargo.toml
  crates/scrape-wasm/js/index.d.ts
  crates/scrape-wasm/package.json
  crates/scrape-wasm/scripts/analyze-size.sh
  crates/scrape-wasm/src/config.rs
  crates/scrape-wasm/src/lib.rs
  crates/scrape-wasm/src/soup.rs
  crates/scrape-wasm/src/tag.rs
  crates/scrape-wasm/tests/web.rs
Due: wasm, WASM Bindings

feat: add integration testing and benchmarks (Phase 9)
  .github/workflows/ci.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  Makefile.toml
  README.md
  benches/compare_python.py
  benches/comparison.rs
  benches/fixtures/generate.py
  crates/scrape-core/Cargo.toml
  crates/scrape-core/README.md
  crates/scrape-node/tests/shared.test.js
  crates/scrape-py/README.md
  crates/scrape-py/tests/test_shared.py
  crates/scrape-wasm/Cargo.toml
  crates/scrape-wasm/tests/shared.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/parse.rs
  fuzz/fuzz_targets/selector.rs
  tests/integration/mod.rs
  tests/shared/test_cases.json
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

fix(ci): enable Safari WebDriver and mark as flaky
  .github/workflows/ci.yml
Due: none

feat(ci): cross-platform testing, Safari local only
  .github/workflows/ci.yml
  Makefile.toml
Due: none

security(ci): add explicit permissions (least privilege)
  .github/workflows/ci.yml
Due: none

feat(release): implement release automation (Phase 10)
  .github/workflows/release.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.toml
  cliff.toml
  crates/scrape-core/Cargo.toml
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-wasm/package.json
  scripts/bump-version.sh
Due: rust, node, wasm, Rust Core, Node.js Bindings, WASM Bindings

chore: set publish = false by default in workspace
  Cargo.toml
  crates/scrape-core/Cargo.toml
  crates/scrape-node/Cargo.toml
  crates/scrape-py/Cargo.toml
  crates/scrape-wasm/Cargo.toml
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

refactor(release): use trusted publishing for all registries
  .github/workflows/release.yml
Due: none

feat(release): implement release automation (Phase 10) (#15)
  .github/workflows/release.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.toml
  cliff.toml
  crates/scrape-core/Cargo.toml
  crates/scrape-node/Cargo.toml
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-py/Cargo.toml
  crates/scrape-wasm/Cargo.toml
  crates/scrape-wasm/package.json
  scripts/bump-version.sh
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

chore: rename npm packages to fast-scrape
  .github/workflows/release.yml
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
Due: node, Node.js Bindings

docs: update READMEs with new package names and badges
  README.md
  cliff.toml
  crates/scrape-core/README.md
  crates/scrape-node/README.md
  crates/scrape-py/README.md
  crates/scrape-wasm/README.md
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

feat(cli): add scrape-cli command-line tool
  Cargo.lock
  Cargo.toml
  Makefile.toml
  crates/scrape-cli/Cargo.toml
  crates/scrape-cli/README.md
  crates/scrape-cli/src/args.rs
  crates/scrape-cli/src/batch.rs
  crates/scrape-cli/src/extract.rs
  crates/scrape-cli/src/main.rs
  crates/scrape-cli/src/output/csv.rs
  crates/scrape-cli/src/output/html.rs
  crates/scrape-cli/src/output/json.rs
  crates/scrape-cli/src/output/mod.rs
  crates/scrape-cli/src/output/text.rs
  crates/scrape-cli/tests/cli_test.rs
Due: none

chore(scripts): add scrape-cli version update to bump-version.sh
  scripts/bump-version.sh
Due: none

style: apply rustfmt formatting
  crates/scrape-cli/src/extract.rs
  crates/scrape-cli/src/output/csv.rs
  crates/scrape-py/uv.lock
Due: python, Python Bindings

feat(cli): add scrape-cli command-line tool (#16)
  Cargo.lock
  Cargo.toml
  Makefile.toml
  crates/scrape-cli/Cargo.toml
  crates/scrape-cli/README.md
  crates/scrape-cli/src/args.rs
  crates/scrape-cli/src/batch.rs
  crates/scrape-cli/src/extract.rs
  crates/scrape-cli/src/main.rs
  crates/scrape-cli/src/output/csv.rs
  crates/scrape-cli/src/output/html.rs
  crates/scrape-cli/src/output/json.rs
  crates/scrape-cli/src/output/mod.rs
  crates/scrape-cli/src/output/text.rs
  crates/scrape-cli/tests/cli_test.rs
  crates/scrape-py/uv.lock
  scripts/bump-version.sh
Due: python, Python Bindings
