Repository bug-ops/scrape-rs: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

feat(release): add scrape-cli to release workflow
  .github/workflows/release.yml
  crates/scrape-cli/Cargo.toml
Due: none

feat(release): add scrape-cli to release workflow (#17)
  .github/workflows/release.yml
  crates/scrape-cli/Cargo.toml
Due: none

chore(release): v0.1.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-wasm/package.json
  scripts/bump-version.sh
Due: node, wasm, Node.js Bindings, WASM Bindings

fix(ci): use multiline block for sed command in release workflow
  .github/workflows/release.yml
Due: none

fix(ci): resolve release workflow failures
  .github/workflows/ci.yml
  .github/workflows/release.yml
  crates/scrape-core/src/dom/document.rs
Due: rust, Rust Core

fix(ci): add zig cross-compiler for aarch64-musl builds
  .github/workflows/release.yml
Due: none

fix(ci): disable linux-arm64-musl Node.js build (requires proper cross-compiler)
  .github/workflows/release.yml
Due: none

chore(release): v0.1.3
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-wasm/package.json
Due: node, wasm, Node.js Bindings, WASM Bindings

fix(ci): use --ignore-scripts for npm main package publish
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-wasm/package.json
Due: node, wasm, Node.js Bindings, WASM Bindings

docs: add Servo project attribution to README files
  README.md
  crates/scrape-cli/README.md
  crates/scrape-core/README.md
  crates/scrape-node/README.md
  crates/scrape-py/README.md
  crates/scrape-wasm/README.md
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

docs(readme): convert architecture to Mermaid, add CLI
  README.md
Due: none

feat(core): add navigation quick wins (parents, closest, siblings)
  benches/navigation.rs
  crates/scrape-core/src/dom/document.rs
  crates/scrape-core/src/dom/mod.rs
  crates/scrape-core/src/query/mod.rs
  crates/scrape-core/src/query/selector.rs
  crates/scrape-core/src/tag.rs
  crates/scrape-core/tests/navigation.rs
  crates/scrape-node/index.d.ts
  crates/scrape-node/src/tag.rs
  crates/scrape-node/tests/navigation.test.js
  crates/scrape-py/src/tag.rs
  crates/scrape-py/tests/test_navigation.py
  crates/scrape-wasm/src/tag.rs
  crates/scrape-wasm/tests/web.rs
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

feat(core): add navigation quick wins (parents, closest, siblings) (#23)
  benches/navigation.rs
  crates/scrape-core/src/dom/document.rs
  crates/scrape-core/src/dom/mod.rs
  crates/scrape-core/src/query/mod.rs
  crates/scrape-core/src/query/selector.rs
  crates/scrape-core/src/tag.rs
  crates/scrape-core/tests/navigation.rs
  crates/scrape-node/index.d.ts
  crates/scrape-node/src/tag.rs
  crates/scrape-node/tests/navigation.test.js
  crates/scrape-py/src/tag.rs
  crates/scrape-py/tests/test_navigation.py
  crates/scrape-wasm/src/tag.rs
  crates/scrape-wasm/tests/web.rs
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

feat: Phase 13 - Query engine enhancement with compiled selectors and optimizations
  crates/scrape-core/Cargo.toml
  crates/scrape-core/benches/selector_optimization.rs
  crates/scrape-core/benches/simd.rs
  crates/scrape-core/src/lib.rs
  crates/scrape-core/src/query/compiled.rs
  crates/scrape-core/src/query/find.rs
  crates/scrape-core/src/query/mod.rs
  crates/scrape-core/src/query/text.rs
  crates/scrape-core/src/soup.rs
  crates/scrape-core/src/tag.rs
Due: rust, Rust Core

feat: Phase 13 - Query engine enhancement with compiled selectors and optimizations (#24)
  crates/scrape-core/Cargo.toml
  crates/scrape-core/benches/selector_optimization.rs
  crates/scrape-core/benches/simd.rs
  crates/scrape-core/src/lib.rs
  crates/scrape-core/src/query/compiled.rs
  crates/scrape-core/src/query/find.rs
  crates/scrape-core/src/query/mod.rs
  crates/scrape-core/src/query/text.rs
  crates/scrape-core/src/soup.rs
  crates/scrape-core/src/tag.rs
Due: rust, Rust Core

feat: Phase 13b - Fragment parsing and extraction methods with bindings
  crates/scrape-core/Cargo.toml
  crates/scrape-core/benches/fragment_and_extraction.rs
  crates/scrape-core/src/parser/fragment.rs
  crates/scrape-core/src/parser/mod.rs
  crates/scrape-core/src/query/extraction.rs
  crates/scrape-core/src/query/mod.rs
  crates/scrape-core/src/soup.rs
  crates/scrape-core/src/tag.rs
  crates/scrape-node/index.d.ts
  crates/scrape-node/src/lib.rs
  crates/scrape-node/src/selector.rs
  crates/scrape-node/src/soup.rs
  crates/scrape-node/src/tag.rs
  crates/scrape-node/tests/fragment_and_extraction.test.js
  crates/scrape-py/python/scrape_rs/__init__.py
  crates/scrape-py/src/lib.rs
  crates/scrape-py/src/selector.rs
  crates/scrape-py/src/soup.rs
  crates/scrape-py/src/tag.rs
  crates/scrape-py/tests/test_fragment_and_extraction.py
  crates/scrape-wasm/src/lib.rs
  crates/scrape-wasm/src/selector.rs
  crates/scrape-wasm/src/soup.rs
  crates/scrape-wasm/src/tag.rs
  crates/scrape-wasm/tests/web.rs
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

feat: Phase 14 P0 quick wins - performance optimizations
  crates/scrape-core/Cargo.toml
  crates/scrape-core/benches/performance.rs
  crates/scrape-core/src/dom/document.rs
  crates/scrape-core/src/parser/html5.rs
  crates/scrape-core/src/soup.rs
  crates/scrape-core/src/tag.rs
Due: rust, Rust Core

feat: Phase 14 P1-P2 core and advanced optimizations
  Cargo.lock
  crates/scrape-core/Cargo.toml
  crates/scrape-core/src/dom/document.rs
  crates/scrape-core/src/dom/index.rs
  crates/scrape-core/src/dom/mod.rs
  crates/scrape-core/src/dom/node.rs
  crates/scrape-core/src/dom/tag_id.rs
  crates/scrape-core/src/lib.rs
  crates/scrape-core/src/parallel/batch.rs
  crates/scrape-core/src/parallel/mod.rs
  crates/scrape-core/src/parser/html5.rs
  crates/scrape-core/src/query/find.rs
  crates/scrape-core/src/tag.rs
  crates/scrape-node/src/tag.rs
  crates/scrape-py/src/tag.rs
  crates/scrape-wasm/src/tag.rs
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

fix: CI formatting and clippy issues in P1-P2 tests
  crates/scrape-core/src/parallel/batch.rs
  crates/scrape-core/src/query/find.rs
Due: rust, Rust Core

feat: Phase 15 - core utilities extraction
  crates/scrape-core/src/lib.rs
  crates/scrape-core/src/serialize.rs
  crates/scrape-core/src/tag.rs
  crates/scrape-core/src/utils.rs
  crates/scrape-node/src/tag.rs
  crates/scrape-py/src/tag.rs
  crates/scrape-wasm/src/tag.rs
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

feat: Phase 15 - core utilities extraction (#27)
  crates/scrape-core/src/lib.rs
  crates/scrape-core/src/serialize.rs
  crates/scrape-core/src/tag.rs
  crates/scrape-core/src/utils.rs
  crates/scrape-node/src/tag.rs
  crates/scrape-py/src/tag.rs
  crates/scrape-wasm/src/tag.rs
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

feat: Phase 16 - trait abstractions and iterator extensions
  crates/scrape-core/benches/traits_and_iterators.rs
  crates/scrape-core/src/dom/document.rs
  crates/scrape-core/src/dom/mod.rs
  crates/scrape-core/src/lib.rs
  crates/scrape-core/src/serialize.rs
  crates/scrape-core/src/tag.rs
  crates/scrape-node/src/tag.rs
  crates/scrape-py/src/tag.rs
  crates/scrape-wasm/src/tag.rs
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

fix: Phase 16 clippy warnings in benchmark file
  crates/scrape-core/benches/traits_and_iterators.rs
Due: rust, Rust Core

feat: Phase 16 - trait abstractions and iterator extensions (#28)
  crates/scrape-core/benches/traits_and_iterators.rs
  crates/scrape-core/src/dom/document.rs
  crates/scrape-core/src/dom/mod.rs
  crates/scrape-core/src/lib.rs
  crates/scrape-core/src/serialize.rs
  crates/scrape-core/src/tag.rs
  crates/scrape-node/src/tag.rs
  crates/scrape-py/src/tag.rs
  crates/scrape-wasm/src/tag.rs
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

feat: Phase 17 - advanced type safety with typestate patterns
  crates/scrape-core/src/dom/document.rs
  crates/scrape-core/src/dom/mod.rs
  crates/scrape-core/src/dom/node_type.rs
  crates/scrape-core/src/dom/state.rs
  crates/scrape-core/src/lib.rs
  crates/scrape-core/src/parser/fragment.rs
  crates/scrape-core/src/parser/html5.rs
  crates/scrape-core/src/soup.rs
Due: rust, Rust Core

feat: Phase 17 - advanced type safety with typestate patterns (#29)
  crates/scrape-core/src/dom/document.rs
  crates/scrape-core/src/dom/mod.rs
  crates/scrape-core/src/dom/node_type.rs
  crates/scrape-core/src/dom/state.rs
  crates/scrape-core/src/lib.rs
  crates/scrape-core/src/parser/fragment.rs
  crates/scrape-core/src/parser/html5.rs
  crates/scrape-core/src/soup.rs
Due: rust, Rust Core

chore(release): 0.2.0 - Phase 14-17 improvements
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/scrape-cli/README.md
  crates/scrape-core/README.md
  crates/scrape-node/README.md
  crates/scrape-node/npm/darwin-arm64/package.json
  crates/scrape-node/npm/darwin-x64/package.json
  crates/scrape-node/npm/linux-arm64-gnu/package.json
  crates/scrape-node/npm/linux-arm64-musl/package.json
  crates/scrape-node/npm/linux-x64-gnu/package.json
  crates/scrape-node/npm/linux-x64-musl/package.json
  crates/scrape-node/npm/win32-x64-msvc/package.json
  crates/scrape-node/package.json
  crates/scrape-py/README.md
  crates/scrape-wasm/README.md
  crates/scrape-wasm/package.json
Due: rust, python, node, wasm, Rust Core, Python Bindings, Node.js Bindings, WASM Bindings

feat: Phase 18 Week 1 - Streaming & Advanced Performance foundation
  Cargo.lock
  Cargo.toml
  crates/scrape-core/Cargo.toml
  crates/scrape-core/benches/streaming.rs
  crates/scrape-core/src/error.rs
  crates/scrape-core/src/lib.rs
  crates/scrape-core/src/streaming/config.rs
  crates/scrape-core/src/streaming/element.rs
  crates/scrape-core/src/streaming/handlers.rs
  crates/scrape-core/src/streaming/mod.rs
  crates/scrape-core/src/streaming/parser.rs
  crates/scrape-core/src/streaming/rewriter.rs
Due: rust, Rust Core

fix: Phase 18 Week 2 - Restore Send bounds and remove redundant feature gates
  Cargo.lock
  Cargo.toml
  crates/scrape-core/Cargo.toml
  crates/scrape-core/src/streaming/config.rs
  crates/scrape-core/src/streaming/element.rs
  crates/scrape-core/src/streaming/handlers.rs
  crates/scrape-core/src/streaming/parser.rs
  crates/scrape-core/src/streaming/rewriter.rs
  crates/scrape-core/tests/streaming.rs
Due: rust, Rust Core

fix: consolidate std imports in streaming parser
  crates/scrape-core/src/streaming/parser.rs
Due: rust, Rust Core

feat: Phase 19 - Developer Experience with error tracking and diagnostics
  Cargo.lock
  Cargo.toml
  crates/scrape-cli/Cargo.toml
  crates/scrape-cli/src/args.rs
  crates/scrape-cli/src/fetch.rs
  crates/scrape-cli/src/main.rs
  crates/scrape-cli/src/repl.rs
  crates/scrape-cli/tests/cli_test.rs
  crates/scrape-core/src/error.rs
  crates/scrape-core/src/lib.rs
  crates/scrape-core/src/parser/error.rs
  crates/scrape-core/src/parser/fragment.rs
  crates/scrape-core/src/parser/html5.rs
  crates/scrape-core/src/parser/mod.rs
  crates/scrape-core/src/parser/tests.rs
  crates/scrape-core/src/parser/warnings.rs
  crates/scrape-core/src/query/error.rs
  crates/scrape-core/src/query/explain.rs
  crates/scrape-core/src/query/mod.rs
  crates/scrape-core/src/query/specificity.rs
  crates/scrape-core/tests/phase19_edge_cases.rs
  crates/scrape-node/src/error.rs
  crates/scrape-py/src/error.rs
  deny.toml
Due: rust, python, node, Rust Core, Python Bindings, Node.js Bindings

fix: Implement proper ureq 3.1.4 integration in fetch_url
  Cargo.lock
  Cargo.toml
  crates/scrape-cli/src/fetch.rs
Due: none

ci: Use cargo make for all-features verification
  .github/workflows/ci.yml
  Makefile.toml
Due: none

fix: Resolve streaming tests Send trait errors and clippy warnings
  crates/scrape-core/benches/streaming.rs
  crates/scrape-core/src/streaming/rewriter.rs
  crates/scrape-core/tests/streaming.rs
Due: rust, Rust Core

feat: Enable all features for scrape-core in scrape-cli
  crates/scrape-cli/Cargo.toml
  crates/scrape-core/benches/streaming.rs
Due: rust, Rust Core

feat: Enable url feature by default in scrape-cli
  crates/scrape-cli/Cargo.toml
Due: none

feat: Phase 19 - Developer Experience with error tracking and diagnostics (#33)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  Makefile.toml
  crates/scrape-cli/Cargo.toml
  crates/scrape-cli/src/args.rs
  crates/scrape-cli/src/fetch.rs
  crates/scrape-cli/src/main.rs
  crates/scrape-cli/src/repl.rs
  crates/scrape-cli/tests/cli_test.rs
  crates/scrape-core/benches/streaming.rs
  crates/scrape-core/src/error.rs
  crates/scrape-core/src/lib.rs
  crates/scrape-core/src/parser/error.rs
  crates/scrape-core/src/parser/fragment.rs
  crates/scrape-core/src/parser/html5.rs
  crates/scrape-core/src/parser/mod.rs
  crates/scrape-core/src/parser/tests.rs
  crates/scrape-core/src/parser/warnings.rs
  crates/scrape-core/src/query/error.rs
  crates/scrape-core/src/query/explain.rs
  crates/scrape-core/src/query/mod.rs
  crates/scrape-core/src/query/specificity.rs
  crates/scrape-core/src/streaming/rewriter.rs
  crates/scrape-core/tests/phase19_edge_cases.rs
  crates/scrape-core/tests/streaming.rs
  crates/scrape-node/src/error.rs
  crates/scrape-py/src/error.rs
  deny.toml
Due: rust, python, node, Rust Core, Python Bindings, Node.js Bindings

feat: Phase 20 Week 1 - Documentation foundation (mdBook, Getting Started, User Guide)
  .github/workflows/docs.yml
  docs/book.toml
  docs/src/README.md
  docs/src/SUMMARY.md
  docs/src/getting-started/concepts.md
  docs/src/getting-started/installation.md
  docs/src/getting-started/quick-start.md
  docs/src/migration/overview.md
  docs/src/user-guide/parsing.md
  docs/src/user-guide/querying.md
Due: none

fix: Remove unsupported multilingual field from book.toml
  docs/book.toml
Due: none

Path conditions:
  rust: any of: crates/scrape-core/
  python: any of: crates/scrape-py/
  node: any of: crates/scrape-node/
  wasm: any of: crates/scrape-wasm/
  Rust Core: any of: crates/scrape-core/**
  Python Bindings: any of: crates/scrape-py/**
  Node.js Bindings: any of: crates/scrape-node/**
  WASM Bindings: any of: crates/scrape-wasm/**
